<!DOCTYPE html>
<html><head></head><body>
<form action="/n_look_up" method="POST">
    Enter A Name: <input type="text" name="name"><br>
    <input type="submit" value="Submit">
  </form>
</body></html>