<!DOCTYPE html>
<html><head></head><body>
<form action="/t_look_up" method="POST">
    Enter Team Name: <input type="text" name="team"><br>
    <input type="submit" value="Submit">
  </form>
</body></html>